div.nuvens-container {
  display: flex;

  width: 100vw;
  height: 100vh;

  position: absolute;
}

div.nuvens-container img {
  position: absolute;
}

img.nuvem {
  width: 60vh;
  z-index: -9;
}

img.nuvem.a {
  left: -5vh;
}

img.nuvem.b {
  top: 24vh;
  right: 0;
}

img.nuvem.c {
  top: 60vh;
  left: 20vw;

  z-index: 9;
}

img.estrela {
  width: 20vh;
  right: 10vw;
  top: 65vh;
  transform: rotate(45deg);

  z-index: -9;
}

div.title-container {
  display: flex;
  flex-direction: column;

  width: 50vw;

  margin: auto;
}

div.title-container img {
  flex: 1;
  object-fit: contain;
  margin-top: -10vh;
}

div.title-container img.letreiro {
  z-index: 99;
  margin-top: -20vh;
}

div.wish-box {
  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 90vw;
  min-height: 60vh;
  margin: auto;

  background-color: #ebe8e2;
  border: 0.5vh black solid;
}

div.wish-box div.header {
  display: flex;

  justify-content: center;

  width: 100%;
  height: 20vh;

  border-bottom: 0.5vh black solid;
  background-color: #febb2d;
}

div.wish-box div.header img {
  object-fit: cover;

  max-width: 100%;
  margin: 4vh;
}

div.wish-box div.dados {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  width: 100%;
  flex: 4;
}

a.dado {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.2s all;

  margin: 2vh;
}

a.dado:hover {
  transform: scale(1.1);
}

a.dado img {
  width: 18rem;
}

@media screen and (max-width: 768px) {
  div.title-container {
    width: 100%;
    height: fit-content;
  }
}
