div.nuvens-container {
  display: flex;

  width: 100vw;
  height: 20vh;

  position: absolute;
}

div.nuvens-container img {
  position: absolute;
}

img.nuvem {
  width: 60vh;
  z-index: -9;
}

img.nuvem.a {
  left: -5vh;
}

img.nuvem.b {
  top: 5vh;
  right: 0;
}

div.titulo {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100vw;
}

div.titulo img {
  max-width: 90%;
}

div.main-box {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  width: 60vw;
  min-height: 70vh;
  margin: auto;

  background-color: #ebe8e2;
  border: 0.5vh black solid;
}

div.main-box div.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding-left: 2vh;

  width: 100%;
  height: 7vh;

  border-bottom: 0.5vh black solid;
  background-color: #ffbb00;
}

div.main-box div.header button {
  border: 1px solid black;
  color: black;

  background: none;
  outline: none;

  cursor: pointer;

  width: 10vh;
  height: 7vh;

  font-size: 4vh;
}

div.main-box div.header p {
  font-size: 3vh;
}

div.main-box div.content {
  display: flex;
  flex-direction: column;

  height: 60vh;
}

div.main-box div.fake-input {
  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 1vh 3vh;

  width: 90%;
  border-radius: 10vh;

  margin: auto;
  margin-top: 2vh;

  font-size: 4vh;

  background-color: white;
}

div.main-box div.fake-input h3 {
  font-family: "Inter", sans-serif;
  font-weight: 100;
}

div.main-box div.formas {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  height: 100%;
}

div.main-box div.formas img {
  width: 30vh;
  cursor: pointer;

  transition: 0.2s all;
}

div.main-box div.formas img:hover {
  transform: scale(1.05);
}

div.resposta-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 70vh;
  display: none;
}

div.resposta-container h2 {
  font-size: 5vh;
}

div.resposta-container#acerto h2 {
  color: chartreuse;
}

div.resposta-container#erro h2 {
  color: red;
}

div.resposta-container button {
  margin: 2vh;
  padding: 2vh;

  background-color: rgb(255, 123, 0);
  color: white;

  border: none;
  border-radius: 2vh;
  outline: none;
  cursor: pointer;

  font-size: 2.5vh;
  font-weight: bold;

  transition: 0.2s all;
}

div.resposta-container button:hover {
  transform: scale(1.1);
}